@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #FF5B5B;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: inline;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    color: #FF5B5B;
}

.nav-link {
    display: inline;
    padding: 0.5rem 1rem;
    color: #FF5B5B;
}

.container {
    padding: 0;
    margin: 0;
}

.row {
    font-size: 125%;
    text-align: center;
}

.header-content {
    background-image: url(../images/homepage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
}

#literary {
    color: #fff;
    letter-spacing: 3px;
    text-shadow: -1px 1px 0 #FF5B5B,
                1px 1px 0 #FF5B5B,
                1px -1px 0 #FF5B5B,
                -1px -1px 0 #FF5B5B;
}
.about{
    position: relative;
    background-image:url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
}
.about img{
    padding-top:5%;
    padding-left: 5%;
    width:35%;
}
.text1{
    position:absolute;
    margin: 30px;
    color: #fdfdfd;
    top:0;
    width:50%;
    right:0;
    height:30vw;
    
}
.text1 h1{
    position:absolute;
    top:0;
    font-size:4vw;
    right:40%;
    

}
.text1 p{
    position:absolute;
    top:40%;
    font-size:1.3vw;
}
.events{
    padding:30px;
    position: relative;
    background-color: rgb(253, 253, 253);
    height:40vw;
}
.text2{
    position: absolute;
    height:22vw;
    top:30%;
    font-size:3vw;
    transform: rotate(-90deg);
    left:0;
}
.text2 h1{
    margin:0;
}
:root {
--page-margin: min(2rem, 5vw);
color: #444;
}

section {
    position: absolute;
    right: 0;
    top:25%;
    width: 80%;
display: grid;
grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);

}

.cards-wrapper {

grid-column: center-start / -1;
display: grid;
grid-auto-flow: column;
gap: 1rem;
overflow: auto;
padding-bottom: 1rem;
padding-right: var(--page-margin);
}

.card {
    position: relative;
    display: grid;
    place-content: center;
    background-color: #d0f0ee;
    color: #15928A;
    font-size: 1.5rem;
    height: 30vw;
    width: 30vw;
}
.card img{
    height: 30vw;
    width: 30vw;
}
.tont{
    position: absolute;
    bottom:10%;
    right:5%;
    font-size: 1vw;
    
}
.tont a{
    color: white;
}
.newmag{
    position: relative;
    background-image:url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
}
.column {
    position: relative;
    float: left;
    width: 50%;
    height:50vw;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column img{
    width: 50%;
}

#lit{
    position: absolute;
    
    padding-bottom: 30px;
    right:10%;
}
#newlt{
    padding-top:30px;
    position: absolute;
    bottom:0;
    left: 10%;
}
.text3{
    color:white;
}
.text3 h1{
    font-size: 3vw;
    position: absolute;
    left:20%;
}
.text3 p{
    position:absolute;
    left:10%;
    font-size:1.2vw;
    color:white;
    top:15%;
    text-align: left;
    width:70%;
}
.text4{
    color:white;
    position: absolute;
    width: 80%;
    bottom: 10%;
    right:0;
    height:27vw;
    
}
.text4 h1{
    font-family: Montserrat;
    font-size:3vw;
    left:20%;
}
.text4 p{
    position:absolute;
    right:5%;
    font-size:1.1vw;
    color:white;
    bottom:0;
    text-align: left;
    width:70%;
}
.footer{
    position: relative;
}
.footer img{
    width: 20%;

}
.cont{
    font-size:1.5vw;
    position: absolute;
    left:30%;
    top:15%;
}
.cont h2{
    margin:0;
    font-size: 1.5vw;
    color: #444;
    font-weight: normal;
}
.cont a{
    font-size:1.5vw ;
    margin:0;
    color:#444
}
.soc{
    margin:10px;
}
.soc-item{
    display:inline;
    padding-right:5%;
    
}
.soc-item img{
    width:4%;
    
}
.yt{
    padding-top:1%;
    padding-right: 2%;
    top: 0;
    width:30vw;
    height:20vw;
    position:absolute;
    right:0;
}
.coprt{
    position:absolute;    
    left:45%;
    font-family: Montserrat;
    font-weight:normal;
}
.coprt h1{
    font-size: 1.5vw;
    font-family: Montserrat;
    font-weight:normal;

}