.toprect {
  margin-left: -10px;
  max-width: 100%;
  min-width: 100%;
  max-height: 17%;
  
  background-color: #242222;
  position: fixed;
  top: 0px;
  z-index: 1000000;
}
.m {
  color: aliceblue;
  font-size: 9vh;
  margin: auto;
  display: grid;
  place-items: center;
}