@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@100;200;300;400&display=swap');

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

body {
  background: url("../images/redbg.jpeg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: inline;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

#mobile-home {
  display: none;
}

.nav-link {
  display: inline;
  padding: 0.5rem 1rem;
  color: white;
  transition: 0.5s;
}

.nav-link:hover {
  transition: 0.5s;
  text-shadow: #000 2px 2px 11px ;
}

header {
  height: 100vh;
}

.container {
  padding: 0;
  margin: 0;
  width: 100vw;
}
.love-header {
  width: 100%;
  text-align: center;
}
.love-header img {
  width: 50vw;
}
.story {
  position: relative;
  height: 60vw;
}
.letter {
  display: block;
  width: 100%;
  background-color: rgba(255, 0, 50, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  margin-top: 2vw;
  padding-top: 5vh;
  transition: 0.3s;
  font-size: 1vw;
  border-radius: 30px;
}
.letter h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4vw;
  font-family: 'Noto Sans Malayalam', sans-serif;
  margin-bottom: 0;
}
.letter h2 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  font-weight: 100;
  margin-top: 0;
  -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}

.letter p {
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
  margin: 5vw 0vh 8vh 20vh;
  font-family: "Noto Sans Malayalam", sans-serif;
  font-size: 1.5vw;
  -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}

.love-header h1 {
  font-size: 10.5vw;
}
#left {
  position: absolute;
  left: 30vw;
  top: 3vh;
  color: white;
  z-index: 1;
  font-weight: 100;
  cursor: pointer;
}

#left img, #right img {
  width: 5vw;
}

#right {
  position: absolute;
  right: 30vw;
  top: 3vh;
  color: white;
  z-index: 1;
  font-weight: 100;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
  #mobile-home {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 4vh;
    color: white;
  }
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .love-header img {
    width: 90vw;
  }
  .story {
    height: 100vw;
  }
  .letter {
    height: 150vw;
    border-radius: 10px;
  }
  .letter h1 {
    font-size: 6vw;
  }
  .letter h2 {
    font-size: 5vw;
  }
  .letter p {
    height: 130vw;
    font-size: 4.5vw;
    margin-left: 10vw;;
    text-align: center;
  }
  #left{
    left: 20vw;
    top: 4vh;
  }
  #right img, #left img {
    width: 10vw;
  }
  #right{
    right:20vw;
    top: 4vh;
  }
}
