@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

body {
  background-size: cover;
  background-position: center top 15vh;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgb(200, 71, 71);
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: inline;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  color: rgb(255, 70, 70);
}

.nav-link {
  display: inline;
  padding: 0.5rem 1rem;
  color: rgb(255, 70, 70);
  transition: 0.5s;
}

.nav-link:hover {
  transition: 0.5s;
  color: #051602;
}

header {
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.main{
    position: relative;
}
.main img{
    width: 50vw;
}
.main h1{
    top: 0;
    margin-top: -8vw;
    position: absolute;
    font-size: 6.5vw;
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    left:23vw;
}
.event{
  height:30vw;
  position: relative;
  margin-top: 7vw;
  margin-bottom: -10vw;
  margin-left: 40vw;
  
  
}
.event img{
  width: 20vw;
}
.winner{
  position:sticky;
  top:0;
  margin-left:70vw;
  margin-top: 10vw;
  z-index:1;
  
}
#win1,#win2{
  display: none;
}
.image{
  position: absolute;
}
.image img{
  width:20vw;
}
@media screen and (max-width:1024px) and (min-width:200px){
  .main{
    height:200vw;
  }
  .main h1{
    font-size: 11.5vw;
    left:3vw;
    margin-top:-30vw;
  }
  .event{
    height:90vw;
    margin-left: 16vw;
    margin-top: 30vw;
    margin-bottom: -40vw;
  }
  .event img{
    width:70vw;
  }
  
}