li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(255, 70, 70);
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: inline;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    color: rgb(255, 70, 70);

}

.nav-link {
    display: inline;
    padding: 0.5rem 1rem;
    color: rgb(255, 70, 70);
    transition: 0.5s;
}

.nav-link:hover {
    transition: 0.5s;
    color: #051602;
}

header {
    height: 100vh;
    background-color: #fff;

}

header {
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: 7vw;
    width: 100vw;
}

.container a {
    font-weight: 100;
}

.br {
    position: relative;
    padding-top: 1vw;
    height: 100vw;

}

.yrs {
    position: absolute;
    bottom: -25%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    width: 90vw;
    height: 5vw;
    color: #ececec;

}

.yrs-link {
    display: inline;
    padding: 0.5rem 1rem;
    color: #ffffff;
    transition: 0.5s;
}

.yrs-menu a {
    font-size: 2vw;
}

.yrs-link:hover {
    transition: 0.5s;
    color: #eeeeee;
}

.firstyear {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 11.7vw;
    background: -webkit-linear-gradient(#f89494, #f46363);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    margin-top: 3.3%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:1024px) and (min-width:200px) {
    .container ul {
        margin-left: -10vw;
    }

    .container {
        height: 30vw;
        padding-left: 20px;
    }

    .firstyear {
        font-size: 30vw;
        margin-top: 8.1%;
    }

    .br {
        height: 710vw;
    }

    .yrs {
        width: 88vw;
        bottom: -12%;
        padding: 0;
    }

    .yrs-menu a {
        font-size: 6vw;
    }
}


.secrect {
    width: 95%;
    height: 110vw;
    background: #c34444;
    position: absolute;
    margin-top: 7.5%;
    margin-left: 2.5%;
}


@media screen and (max-width:1024px) and (min-width:200px) {
    .secrect {
        width: 90%;
        height: 770vw;
        margin-top: 19%;
        margin-left: 6%;
    }

    .secrect2019 {
        height: 600vw;
    }

    .secrect2017 {
        height: 790vw;
    }
}


.secyear {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 5vw;
    -webkit-text-stroke: 1px #f67f7f;
    color: #850d0d;
    position: absolute;
    margin-top: 7.5%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:1024px) and (min-width:200px) {
    .secyear {
        font-size: 14.5vw;
        margin-top: 20%;
    }
}

#image:hover {
    opacity: 0.4;
}

.card {
    box-shadow: 2px 8px 12px 2px rgb(0 0 0 / 0.2);
    width: 70%;
    height: 20vw;
    border-radius: 10px;
    background: #c34444;
    word-wrap: break-word;

    position: relative;
    margin-top: 50px;
    margin-left: 20px;
}

.card9pos {
    margin-left: 50%;
}

.card10pos {
    margin-left: 50%;
}




.img {
    position: absolute;
    margin-left: 7%;
    margin-top: 7%;
    max-width: 85%;
    max-height: 80%;
    width: auto;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name {
    position: absolute;
    margin-left: 15%;
    margin-top: 72%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
}



.position {
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1f;
    font-size: 1.3vw;
    letter-spacing: 0.20vw;
    position: absolute;
    margin-left: 14%;
    margin-top: 82%;
}


.everyone {
    display: grid;
    grid-template-columns: auto auto auto;

    padding-top: 120px;
    padding-left: 60px;
}

@media screen and (max-width:1024px) and (min-width:200px) {
    .card {
        width: 50%;
        height: 51vw;
    }
}

@media screen and (max-width:1024px) and (min-width:200px) {
    .name {
        font-size: 3.8vw;
    }
}

@media screen and (max-width:1024px) and (min-width:200px) {
    .position {
        letter-spacing: 0.8vw;
        font-size: 3.3vw;
    }
}

@media screen and (max-width:1024px) and (min-width:200px) {




    .everyone {
        width: 100%;
        display: block;

        margin-bottom: 20px;
        padding-left: 20%;
        margin: 0%;
    }

    .card9pos {
        margin-left: 20px;
    }

    .card10pos {
        margin-left: 20px;
    }

    .name2pos {
        margin-left: 10%;
    }

    .name10pos {
        margin-top: 65%;

    }
}