.br {
  width: 90vw;
}
.firstyear {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 11.7vw;
  background: -webkit-linear-gradient(#f89494, #f46363);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  margin-top: 3.3%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(195, 68, 68);
}
.fa-user:hover {
  color: #eee;
}
.icon {
  color: white;
  position: absolute;
  height:10vw;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card:hover .overlay {
  opacity: 0.8;
}
.socialicon img,.socialicon2 img {
    opacity:1;
  width: 3vw;
}
.socialicon,.socialicon2{
  height: 3vw;
}
.secrect {
  width: 95%;
  height: 82vw;
  background: #c34444;
  position: absolute;
  margin-top: 7.5%;
  margin-left: 2.5%;
}

.secrect2017 {
  height: 105vw;
}

.secyear {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 5vw;
  -webkit-text-stroke: 1px #f67f7f;
  color: #850d0d;
  position: absolute;
  margin-top: 7.5%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

#image:hover {
  opacity: 0.5;
  transform: scale(1.5);
}
#image:hover + .socicon {
  display: inline-block;
}
.socicon:hover {
  display: inline;
}

.card:hover .card{
  border: 10px #1e1e1f;
}

.card {
  overflow: hidden;
  box-shadow: 2px 8px 12px 2px rgb(0 0 0 / 0.2);
  width: 20%;
  height: 20vw;
  border-radius: 10px;
  background: #c34444;
  word-wrap: break-word;
  position: absolute;
}
.img {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  margin-left: 7%;
  margin-top: 7%;
  max-width: 85%;
  max-height: 80%;
  width: auto;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.9s;
}
.card:hover .img{
  transform: scale(1.5);
}



.name {
  position: absolute;
  margin-left: 15%;
  margin-top: 56%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
}

.position {
  font-family: "Montserrat", sans-serif;
  color: #1e1e1f;
  font-size: 1.3vw;
  letter-spacing: 0.35vw;
  position: absolute;
  margin-left: 14%;
  margin-top: 72%;
}

.card1pos {
  margin-left: 23%;
  margin-top: 15%;
}
.name1pos {
  position: absolute;
  bottom: 2.9vw;
}
.position1pos {
  position: absolute;
  bottom: 0;
}

.card2pos {
  margin-left: 56%;
  margin-top: 15%;
}

.name2pos {
  margin-left: 8.5%;
  position: absolute;
  bottom: 2.9vw;
}

.position2pos {
  margin-left: 2%;
  position: absolute;
  bottom: 0;
}

.card3pos {
  margin-left: 3%;
  margin-top: 40%;
}

.name3pos {
  margin-left: 8.5%;
  position: absolute;
  bottom: 2.9vw;
}

.position3pos {
  margin-left: 20.5%;
  position: absolute;
  bottom: 0;
}

.card4pos {
  margin-left: 27.5%;
  margin-top: 40%;
}

.name4pos {
  margin-left: 23%;
  position: absolute;
  bottom: 2.9vw;
}
.position4pos {
  position: absolute;
  bottom: 0;
}

.card5pos {
  margin-left: 52.5%;
  margin-top: 40%;
}

.name5pos {
  margin-left: 23%;
  position: absolute;
  bottom: 2.9vw;
}

.position5pos {
  margin-left: 8%;
  position: absolute;
  bottom: 0;
}

.card6pos {
  margin-left: 77%;
  margin-top: 40%;
}

.name6pos {
  margin-left: 23%;
  position: absolute;
  bottom: 2.9vw;
}

.position6pos {
  margin-left: 8%;
  position: absolute;
  bottom: 0;
}

.card7pos {
  margin-left: 3%;
  margin-top: 65%;
}

.name7pos {
  margin-left: 26%;
  position: absolute;
  bottom: 2.9vw;
}

.position7pos {
  margin-left: 8%;
  position: absolute;
  bottom: 0;
}

.card8pos {
  margin-left: 27.5%;
  margin-top: 65%;
}

.name8pos {
  margin-top: 48%;
  margin-left: 10%;
  position: absolute;
  bottom: 4.2vw;
}
.name8pos2 {
  margin-left: 10%;
  position: absolute;
  bottom: 2.9vw;
}

.position8pos {
  margin-top: 69%;
  margin-left: 6%;
  position: absolute;
  bottom: 0;
}

.card9pos {
  margin-left: 52.5%;
  margin-top: 65%;
}
.name9pos {
  position: absolute;
  bottom: 2.9vw;
}
.position9pos {
  position: absolute;
  bottom: 0;
}
.card10pos {
  margin-left: 77%;
  margin-top: 65%;
}

.name10pos {
  margin-left: 10%;
  position: absolute;
  bottom: 2.9vw;
}

.position10pos {
  margin-left: 12%;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1024px) and (min-width: 200px) {
  .firstyear {
    font-size: 30vw;
    margin-top: 8.1%;
  }
  .secrect {
    width: 90%;
    height: 665vw;
    margin-top: 19%;
    margin-left: 4.7%;
  }
  .secyear {
    font-size: 14.5vw;
    margin-top: 20%;
  }
  .card {
    width: 50%;
    height: 51vw;
  }
  .name {
    font-size: 3.8vw;
  }
  .icon a {
    top: 15vw;
    height: 50vw;
  }
  .socialicon img,
  .socialicon2 img {
    width: 5vw;
  }
  .position {
    letter-spacing: 0.8vw;
    font-size: 3.3vw;
  }
  .card1pos {
    margin-top: 35%;
    margin-left: 25%;
  }
  .card2pos {
    margin-left: 25%;
    margin-top: 100%;
  }
  .card3pos {
    margin-left: 25%;
    margin-top: 165%;
  }
  .card4pos {
    margin-left: 25%;
    margin-top: 230%;
  }
  .card5pos {
    margin-left: 25%;
    margin-top: 295%;
  }
  .card6pos {
    margin-left: 25%;
    margin-top: 360%;
  }
  .card7pos {
    margin-left: 25%;
    margin-top: 425%;
  }
  .card8pos {
    margin-left: 25%;
    margin-top: 490%;
  }
  .card9pos {
    margin-left: 25%;
    margin-top: 555%;
  }
  .card10pos {
    margin-left: 25%;
    margin-top: 620%;
  }
  .name1pos {
    bottom: 8vw;
  }
  .name2pos {
    bottom: 8vw;
  }
  .name3pos {
    bottom: 8vw;
  }
  .name4pos {
    bottom: 8vw;
  }
  .name5pos {
    bottom: 8vw;
  }
  .name6pos {
    bottom: 8vw;
  }
  .name7pos {
    bottom: 8vw;
  }
  .name8pos {
    bottom: 12vw;
  }
  .name8pos2 {
    bottom: 8vw;
  }
  .name9pos {
    bottom: 8vw;
  }
  .name10pos {
    bottom: 8vw;
    left:0.8vw;
  }
}
