@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@100;200;300;400&display=swap');

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

body {
    background-size: cover;
    background-position: center top 15vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(255,70,70);
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: inline;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    color: rgb(255,70,70);
    
}

.nav-link {
    display: inline;
    padding: 0.5rem 1rem;
    color: rgb(255,70,70);
    transition: 0.5s;
}

.nav-link:hover{
    transition: 0.5s;
    color: #051602;
}

header {
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 100vw;;
}
.rep_writ{
    background-color: white;
    position: relative;
    height: 42vw;
    color: rgb(255,70,70);
}
.rep_writ h1{
    font-size:5vw;
    margin: 0;
}
#sp {
    color: #fff;
    text-shadow: -1px 1px 0 rgb(255,70,70),
                1px 1px 0 rgb(255,70,70),
                1px -1px 0 rgb(255,70,70),
                -1px -1px 0 rgb(255,70,70);
}
.bottom-block {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 20vw solid rgb(255,70,70);
	border-left: 15vw solid transparent;
	width: 84.9vw;
}
.top-block {
    position: absolute;
    top: 0.1vw;
    right: 0;
    border-bottom: 22vw solid rgb(255,70,70);
	border-left: 84vw solid transparent;
    width:1vw;
	
}
.text-on-block{
    position: absolute;
    bottom: 12%;
    right: 0;
    width:40vw;
}
.text-on-block h1{
    margin-bottom:3%;
    width:80%;
    color:white;
    font-size: 1.7vw;
    font-weight: normal;
    font-family: 'Montserrat';
}
.top-icons{
    position: absolute;
    bottom:0;
    right: 0;
}
.soc{
    margin:10px;
    width:40vw;
}
.soc-item{
    display:inline;
    padding-right:20%;
    margin-right: 1.3%;
}
.soc-item img{
    width:10%;
    
}
.avani{
    position: relative;
    width:100vw;
    background-size: cover;
    background-repeat: repeat;
    background-attachment:scroll;
    
    height:45vw;
}
.avani h1{
    position: absolute;
    color:white;
    top: 10%;
    right: 13vw;
    font-weight: normal;
    font-family: 'Noto Sans Malayalam';
    font-size:5vw;
}
.avani h2{
    position: absolute;
    color:white;
    top: 22%;
    right: 16vw;
    font-weight: 100;
    font-size:4vw;
}
.avani h3{
    font-size:1.1vw;
    text-align: left;
    position: absolute;
    width:20%;
    color: white;
    font-weight: 100;
    top:12vw;
    left:45vw;
    height:10vw;

}
.avani img{
    position: absolute;
    top:8%;
    left: 0;
    width:40%;
}

.visit_pg{
    position: absolute;
    top:41%;
    right:8%;

    width:20vw;
    height:10vw;
}
.visit_pg img{
    width:60%;
}
.downld_bt{
    position: absolute;
    top:50%;
    right:3%;
    width:20vw;
    height:10vw;
}
.downld_bt img{
    width:10%;
}
.jwala{
    
    position: relative;
    width:100vw;
    background-size: cover;
    background-repeat: repeat;
    background-attachment:scroll;
    height:45vw;
}
.jwala h1{
    position: absolute;
    color:white;
    top: 10%;
    left: 10%;
    font-weight: normal;
    font-family: 'Noto Sans Malayalam';
    font-size:5vw;
}
.jwala h2{
    position: absolute;
    color:white;
    top: 22%;
    left: 9%;
    font-weight: normal;
    font-size:4vw;
}
.jwala h3{
    font-size:1.1vw;
    text-align: left;
    position: absolute;
    width:20%;
    color: white;
    font-weight: 100;
    top:11vw;
    left:35vw;
    height:18vw;

}
.jwala img{
    position: absolute;
    top:8%;
    right: 2%;
    width:40%;
}

.jw_visit_pg{
    position: absolute;
    top:45%;
    left:3%;

    width:20vw;
    height:10vw;
}
.jw_visit_pg img{
    width:60%;
}
.jw_downld_bt{
    position: absolute;
    top:54%;
    left:3%;
    width:15vw;
    height:10vw;
}
.jw_downld_bt img{
    width:15%;
}
@media screen and (max-width:1024px) and (min-width:200px){
    .rep_writ{
        height:190vw;
    }
    .rep_writ h1{
        font-size:15vw;
    }
    .bottom-block{
        border-bottom:  70vw solid rgb(255,70,70);
    }
    .top-block{
        bottom:36%;
        border-left: 85vw solid transparent;

        border-bottom: 110.2vw solid rgb(255,70,70);
    }
    .text-on-block{
        right:10%;
        width:60vw;
        bottom: 8%;
        right:1%;
    }
    .text-on-block h1{
        font-size:4.3vw;
        margin-bottom:6%;
        width:100%;
    }
    .soc{
        width:60vw;
    }
    .soc-item{
        padding-right: 5%;
    }
    .soc-item img{
        width:20%;
    }
    .avani{
        
        height:210vw;

    }
    .avani h1{
        font-size:10vw;
        top:8%;
        right:33%;
    }
    .avani h2{
        font-size: 8vw;
        top:27vw;
        right:39%;
    }
    .avani h3{
        font-size:4vw;
        top:45vw;
        height:40vw;
        margin-left: 13vw;
        width:80%;
        left:0;
    }
    .avani img{
        top:100vw;
        width:90%;
        left:4%;
    }
    .visit_pg{
        top:75vw;
        width: 50vw;
        height:15vw;
        left:24%;
    }
    .downld_bt{
        top:90vw;
        left:40%;
        width:15vw;
    }
    .jwala{
        
        height:230vw;

    }
    .jwala h1{
        top:0;
        font-size:10vw;
        left:33vw;
    }
    .jwala h2{
        font-size: 8vw;
        top:13vw;
        left:32vw;
    }
    .jwala h3{
        font-size:4vw;
        top:35vw;
        height:40vw;
        margin-left: 13vw;
        width:80%;
        left:0;
    }
    .jwala img{
        top:100vw;
        width:90%;
        left:4%;
    }
    .jw_visit_pg{
        top:75vw;
        width: 50vw;
        height:15vw;
        left:24%;
    }
    .jw_downld_bt{
        top:90vw;
        left:40%;
        width:15vw;
    }
    
}
